html,body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1c1c1c;
  overflow-x: hidden
}

@keyframes fadein1{
  from {-webkit-text-stroke: 4px transparent;}
  to {-webkit-text-stroke: 4px #fff;}
}

@keyframes fadein2{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes highlighteffect{
  from {color: #bababa;}
  to {color: #fff;}
}


.back-heading {
  text-align: center;
}

.back-heading span{
  display: inline-block;
  font-size: 300px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  margin-bottom: -1200px;
  animation-name: fadein1;
  animation-delay: 0.5s;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.heading {
  font-size: 70px;
  text-align: center;
  letter-spacing: -2px;
  text-align: center;
  margin-top: -100px;
  margin-bottom: -70px;
  opacity: 0;
  color: #fff;
  animation-name: fadein2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.quote {
  font-size: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.author {
  position: relative;
  font-size: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  left: 300px;
  bottom: 25px;
  color: #fff;
}

.information {
  text-align: center;
}

.information-heading {
  font-size: 50px;
  position: relative;
  color: #fff;
  font-family: 'Playfair Display', serif;
  
}

.information-text {
  font-size: 35px;
  color: #bababa;
  font-family: 'Playfair Display', serif;
}

.information-text span{
  font-size: 35px;
  animation-name: highlighteffect;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
